{% extends 'common/parent.html' %}
{% load static %}


{% block content %}
    <body>
		<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">个人资料</a>
            </h1>
	    </header>
        <form action="" method="post" >
            {% csrf_token %}
	    <div style="height: 49px;"></div>
	    <ul class="safty1">
	    	<li>
{#	    		<a href="">#}
	    			<i style="margin-top: 25px;">头像</i>
	    			<div class="infor-pic">
	    				<img src="{% static 'images/touxiang.png' %}" />
	    			</div>
{#	    		</a>#}
	    	</li>
	    	<li>
{#	    		<a href="">#}
	    			<i>昵称</i>
	    			<input class="infor-tele" placeholder="请输入昵称" type="text" name="user_name" value="{{ request.POST.user_name }}"/>
                    <p class="am-text-danger">{{ form.errors.user_name.0 }}</p>
{#	    		</a>#}
	    	</li>
	    	<li>
{#	    		<a href="">#}
	    			<<i>性别</i>
                        <i class="infor-tele">
                            <label class="am-radio-inline">
                              <input type="radio" name="gender" {% if user.gender == 1 %}
                              checked="checked" {% endif %} value="1"
                               data-am-ucheck>男
                            </label>
                            <label class="am-radio-inline">
                              <input type="radio" name="gender" {% if user.gender == 2 %}
                              checked="checked" {% endif %} value="2"
                               data-am-ucheck>女
                            </label>
                            <label class="am-radio-inline">
                              <input type="radio" name="gender" {% if user.gender == 3 %}
                              checked="checked" {% endif %} value="3"
                               data-am-ucheck>保密
                            </label>
                        </i>
	    		</a>
	    	</li><li>
{#	    		<a href="">#}
	    			<i>生日</i>
                    <input class="infor-tele" placeholder="出生日期" type="text" name="birthday" value="{{ request.POST.birthday }}"/>
{#	    		</a>#}
	    	</li>
	    </ul>
	    <div style="height: 10px; background: #efefef;"></div>
	     <ul class="safty1">
	    	<li>
	    			<i>学校</i>
	    			<input class="infor-tele" placeholder="就读于哪个学校" type="text" name="school" value="{{ request.POST.school }}"/>
	    	</li>
	    	<li>
	    			<i>位置</i>
	    			<input class="infor-tele" placeholder="详细地址" type="text" name="address" value="{{ request.POST.address }}"/>
	    	</li>
	    	<li>
	    			<i>故乡</i>
                    <input class="infor-tele" placeholder="来自哪里" type="text" name="hometown" value="{{ request.POST.hometown }}"/>
	    	</li>
{#             <li>#}
{#	    			<i>手机</i>#}
{#                    <input class="infor-tele" placeholder="{{ request.POST.phone }}" type="text" name="phone" value="{{ request.POST.phone }}"/>#}
{#	    	</li>#}
	    </ul>
            <button type="submit" class="login-btn">修改</button>
            </form>
	    <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/amazeui.min.js' %}"></script>

	</body>

{% endblock %}

