{% extends 'common/parent.html' %}
{% load static %}

{% block content %}

    <body>
		<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">修改密码</a>
            </h1>
	    </header>
        <form action="" method="post" >
            {% csrf_token %}
	    <div style="height: 49px;"></div>
        <input type="hidden" name="id" placeholder="旧密码" class="login-password" value="{{ request.session.ID }}">
	    <input type="password" name="password" placeholder="旧密码" class="login-password">
            <p class="am-text-danger">{{ form.errors.password.0 }}</p>
	    <input type="password" name="new_password" placeholder="新密码" class="login-name">
            <p class="am-text-danger">{{ form.errors.new_password.0 }}</p>
	    <input type="password" name="re_new_password" placeholder="确认新密码" class="login-password">
            <p class="am-text-danger">{{ form.errors.re_new_password.0 }}</p>
{#	    <input type="button" class="login-btn" value="确认">#}
            <button type="submit" class="login-btn">确认</button>
        </form>
	</body>

{% endblock %}

